@model Leons.Models.Usuario;
@{
    ViewData["Title"] = "Editar Usuario";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}
<div class="card">
    <div class=" card-header">Editar Usuario</div>
    <div>
        <form asp-controller="Usuario" asp-action="Editar" method="post">
            <input asp-for="idUsuario" type="hidden" />
            <div>
                <label for="nombre" class="form-label">Nombre:</label>
                <input asp-for="nombre" class="form-control" type="text" required />
            </div>
            <div>
                <label for="apellido" class="form-label">Apellido:</label>
                <input asp-for="apellido" type="text" class="form-control" required />
            </div>
            <div>
                <label for="nombreUsuario" class="form-label">Nombre de Usuario:</label>
                <input asp-for="nombreUsuario" type="text" class="form-control"  />
            </div>
            <div>
                <label for="email" class="form-label">Correo:</label>
                <input asp-for="email" type="text" class="form-control" required />
            </div>
            <div>
                <label for="password" class="form-label">Contraseña:</label>
                <input asp-for="password" type="text" class="form-control" required />
            </div>
            <div>
                <label for="telefono" class="form-label">Teléfono:</label>
                <input asp-for="telefono" type="tel" class="form-control"  />
            </div>
            <div>
                <label for="direccion" class="form-label">Dirección:</label>
                <input asp-for="direccion" type="text" class="form-control"  />
            </div>
            <div class="form-group">
                <label for="idRol" class="form-label">Rol:</label>
                <select asp-for="idRol" class="form-select" required>
                    @foreach (var rol in ViewBag.Roles)
                    {
                        <option value="@rol.idRol">@rol.nombre</option>
                    }
				</select>
			</div>
            

            <button type="submit" class="btn btn-primary">Guardar</button>
            <a asp-controller="Roles" asp-action="Lista" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>

</div>

