@model Leons.ViewModel.RegistroVM;
@{
    Layout=null;
}
<!DOCTYPE html>
    <html>
    <head>
        <title>Registro</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/site.css" />
        <link rel="stylesheet" href="/css/perzonalizado.css" />
        <link rel="stylesheet" href="/Leons.styles.css" />
    </head>
    <body class="bg-fond">
    <div class="registro-container">
        <div class="registro-form">
            <h4 class="mb-3">Inicia sesión o regístrate para comprar</h4>
            <form asp-controller="Acceso" asp-action="RegistroCliente" method="post">
                <div>
                    <label for="email">Correo</label>
                    <input asp-for="email" type="email" class="form-control" required placeholder="Ingresa un correo" />
                    <span asp-validation-for="email" class="text-danger"></span>
                </div>
                <div>
                    <label for="nombre">Nombre</label>
                    <input asp-for="nombre" class="form-control" required placeholder="Ingresa un nombre" />
                    <span asp-validation-for="nombre" class="text-danger"></span>
                </div>
                <div>
                    <label for="apellido">Apellidos</label>
                    <input asp-for="apellido" class="form-control" required placeholder="Ingresa apellidos" />
                    <span asp-validation-for="apellido" class="text-danger"></span>
                </div>
                <div>
                    <label for="nombreUsuario">Nombre de usuario</label>
                    <input asp-for="nombreUsuario" class="form-control" required placeholder="Ingresa un nombre de usuario" />
                    <span asp-validation-for="nombreUsuario" class="text-danger"></span>
                </div>
                <div>
                    <label for="telefono">Celular</label>
                    <input asp-for="telefono" type="tel" pattern="9[0-9]{8}" title="número de teléfono de 9 dígitos" class="form-control" required placeholder="Ingresa un celular" />
                    <span asp-validation-for="telefono" class="text-danger"></span>
                </div>
                <div>
                    <label for="password">Contraseña</label>
                    <input asp-for="password" type="password" class="form-control" required placeholder="Ingresa una contraseña" />
                    <span asp-validation-for="password" class="text-danger"></span>
                </div>
                <div>
                    <label for="confirmarPassword">Confirmar Contraseña</label>
                    <input asp-for="confirmarPassword" type="password" class="form-control" required placeholder="Confirma tu contraseña" />
                    <span asp-validation-for="confirmarPassword" class="text-danger"></span>
                </div>
                <div>
                    <label for="direccion">Dirección</label>
                    <input asp-for="direccion" type="text" class="form-control" required placeholder="Ingresa tu dirección" />
                    <span asp-validation-for="direccion" class="text-danger"></span>
                </div>

                <div asp-validation-summary="All" class="text-danger"></div>
                <button type="submit" class="btn btn-primary">Registrarse</button>
                <a asp-controller="Acceso" asp-action="Login" class="btn btn-secondary">¿Ya tienes cuenta? Inicia sesión</a>
            </form>
        </div>

    </div>
    </body>
    </html>


@*         <div class="row mt-5 justify-content-center align-content-center">

            <div class="col-sm-5">
                <div class="card-header">
                    Registrarse
                </div>

                <div class="card">
                    <div class="card-body">
                        <form asp-controller="Acceso" asp-action="RegistroCliente" method="post">
                        <div>
                            <label for="nombreUsuario" class="form-label">Nombre de Usuario</label>
                            <input asp-for="nombreUsuario" class="form-control" required />
                            <span asp-validation-for="nombreUsuario" class="text-danger"></span>
                        </div>
                            <div>
                                <label for="Nombre" class="form-label">Nombre</label>
                                <input asp-for="nombre" class="form-control" required />
                                <span asp-validation-for="nombre" class="text-danger"></span>
                            </div>
                            <div>
                                <label>Apellido</label>
                                <input asp-for="apellido" class="form-control" required />
                                <span asp-validation-for="nombre" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="Email">Correo</label>
                                <input asp-for="email" type="email" class="form-control" required />
                                <span asp-validation-for="email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="password">Contraseña</label>
                                <input asp-for="password" type="password" class="form-control" required />
                                <span asp-validation-for="password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="confirmarPassword">Confirmar Contraseña</label>
                                <input asp-for="confirmarPassword" type="password" class="form-control" required />
                                <span asp-validation-for="confirmarPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="telefono">Teléfono</label>
                                <input asp-for="telefono" type="tel" class="form-control" required />
                                <span asp-validation-for="telefono" class="text-danger"></span>

                            </div>
                            <div class="form-group">
                                <label for="direccion">Dirección</label>
                                <input asp-for="direccion" type="text" class="form-control" required />
                                <span asp-validation-for="direccion" class="text-danger"></span>
                            </div>
                            <div asp-validation-summary="All" class="text-danger"></div>

                            <button type="submit" class="btn btn-primary">Registrar</button>
                            <a asp-controller="Acceso" asp-action="Login" class="btn btn-secondary">¿Ya tiene una cuenta?</a>
                        <a asp-controller="Acceso" asp-action="Login"><i class="bi bi-0-square-fill"></i> </a>
                        </form>
                    </div>
                </div>
            </div>
        </div> *@
