body {
}
#wrapper {
    display: flex;
    min-height: 100vh;
}

#sidebar {
    width: 250px;
    min-height: 100vh;
    position: fixed;
}

#page-content-wrapper {
    margin-left: 250px;
    background-color: #f8f9fa;
}
