
@model Leons.Models.Rol;
@{
    ViewData["Title"] = "Crear Roles";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}
        <div class="card">
            <div class=" card-header">Crear Rol</div>
            <div>
                <form asp-controller="Roles" asp-action="Crear" method="post">
                    <div>
                        <label for="nombre" class="form-label">Nombre:</label>
                        <input asp-for="nombre" class="form-control" type="text"  required />
                    </div>
                    <div>
                        <label for="descripcion" class="form-label">Descripción:</label>
                        <input asp-for="descripcion" type="text" class="form-control" required />
                    </div>
                    <button type="submit" class="btn btn-primary">Crear</button>
				<a asp-controller="Roles" asp-action="Lista" class="btn btn-secondary">Cancelar</a>
                </form>
            </div>
            
        </div>
